<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Monitoring and Controlling</title>
        <script src="jquery-3.6.0.min.js"></script>
        <script src="index.js"></script>
    </head>
    <body>
        <h3>Welcome~</h3>
        <h4>Registed variables are as following, also changeable.</h4>
        <ul>
            {{ range . }}
            <li id="{{.Src_filename}}#{{.Var_name}}">
                <span name="filename">{{ .Src_filename }}</span>
                <span name="name">{{ .Var_name }}</span> 
                <input name="var" type="text" value="{{ .Var }}"/>
                <input name="submit" type="button" value="Change" />
                <span name="type">{{ .Var_type }}</span> 
            </li>
            {{end}}
        </ul>
    </body>
</html>